<h2>Template: <small>Dinámicos</small></h2>
<hr>

<form (ngSubmit)="guardar()"
    #miFormulario="ngForm"
    autocomplete="off">

    <!-- Nombre -->
    <div class="row mb-3">
        <label class="col-sm col-form-label">Nombre</label>
        <div class="col-sm-10">
            <input class="form-control"
                placeholder="Nombre de la Persona"
                [(ngModel)]="persona.nombre"
                name="nombre"
                required>
            <span class="form-text text-danger"
                *ngIf="miFormulario.controls['nombre']?.errors
                && miFormulario.controls['nombre']?.touched">Este campo es Obligatorio</span>
        </div>
    </div>

    <!-- Agregar Favorito-->
    <div class="row mb-3">
        <label class="col-sm col-form-label">Agregar</label>
        <div class="col-sm-10">
            <div class="input-group mb-3">
                <input class="form-control"
                    placeholder="Agregar Favorito"
                    [(ngModel)]="nuevoJuego"
                    (keyup.enter)="agregarJuego()"
                    name="nuevoJuego">

                <button class="btn btn-outline-primary"
                    type="button"
                    (click)="agregarJuego()">Agregar</button>
            </div>
        </div>
    </div>

    <!-- Lista de Juegos Favoritos -->
    <div class="row mb-3">
        <label class="col-sm col-form-label">Favoritos</label>
        <div class="col-sm-10">
            <div class="input-group mb-3"
                *ngFor="let juego of persona.favoritos; let i = index">

                <input [(ngModel)]="juego.nombre"
                    name="favorito_{{ i }}"
                    class="form-control mb-1"
                    required>

                <button class="btn btn-outline-danger mb-1"
                    type="button"
                    (click)="eliminar(i)">Borrar</button>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <button type="button"
                [disabled]="miFormulario.invalid"
                class="btn btn-primary float-end"
                (click)="guardar()">
                Guardar
            </button>
        </div>
    </div>
</form>

<span>Persona</span>
<pre>{{ persona | json }}</pre>